.display-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .display-options label {
    font-weight: bold;
  }
  
  .display-options select {
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
  }
  